<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage - AIS</title>
  </head>
  <body>
    <nav>
      <div>
        <a href="#">AIS</a>
        <button>
          <span></span>
        </button>
        <div>
          <ul>
            <li>
              <a href="#">Homepage</a>
            </li>
            <li>
              <a href="#">Tentang</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <h1>Selamat Datang di Halaman Depan AIS</h1>
    </div>
  </body>
</html>
